services:
  postgres:
    image: postgres:17
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DATABASE: ${POSTGRES_DATABASE}
    ports:
      - "5432:5432"
    volumes:
      - postgres:/var/lib/postgresql/data
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DATABASE}"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: always
    shm_size: 128mb

  adminer:
    image: adminer:latest
    command: php -S 0.0.0.0:8080 -t /var/www/html
    env_file:
      - .env
    environment:
      ADMINER_DEFAULT_DB_DRIVER: 'pgsql'
      ADMINER_DEFAULT_DB_HOST: postgres
      ADMINER_DEFAULT_DB_NAME: ${POSTGRES_DATABASE}
    ports:
      - '8080:8080'
    depends_on:
      - postgres
    networks:
      - app-network

volumes:
  postgres:

networks:
  app-network:
    driver: bridge