x-nginx-base: &nginx-base
  image: nginx:alpine
  depends_on:
    - nextjs
  networks:
    - app-network
  restart: always

services:
  nginx-internal:
    <<: *nginx-base
    profiles: [ "internal" ]
    ports:
      - '80:80'
    volumes:
      - ./nginx/nginx.internal.conf:/etc/nginx/nginx.conf:ro

  nginx-ssl:
    <<: *nginx-base
    profiles: [ "ssl" ]
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - ./nginx/nginx.ssl.conf:/etc/nginx/nginx.conf:ro
      - /etc/letsencrypt:/etc/nginx/ssl:ro
      - /var/www/certbot:/var/www/certbot:ro

  nextjs:
    build:
      context: .
      dockerfile: next.Dockerfile
    env_file:
      - .env
    expose:
      - '3000'
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - app-network
    restart: always

  postgres:
    image: postgres:17
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DATABASE}
    expose:
      - '5432'
    volumes:
      - postgres:/var/lib/postgresql/data
    networks:
      - app-network
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DATABASE}" ]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: always
    shm_size: 256mb

volumes:
  postgres:

networks:
  app-network:
    driver: bridge